.card-wrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}
.first {
  border: 3px solid white;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  color: white;
}
.first span {
  opacity: 0.5;
}
.first:hover {
  cursor: pointer;
  border: 4px solid white;
}
.first:hover span {
  opacity: 1;
  transition: 1s;
}
